/* The CSS for the navbar. */
.dashboard {
 height: 1080px;
 background-color: #ececec;
 position: relative;
 overflow: hidden;
 display: flex;
}

.navbar {
 width: 72px;
 background-color: #ffffff;
 margin: 0 50px 0 10px;
 border-radius: 10px;
 overflow: auto;
}

.icon_list {
 width: 100%;
 display: flex;
 align-items: center;
 flex-direction: column;
}

.icon {
 margin-top: 30px;
}

.icon:nth-child(5) {
overflow: auto;
}


/* The CSS for the store */
.store_content {
 width: 105rem;
 margin: 0 32px 54px 7px;
 flex-direction: column;
 padding: 48px 0 80px 0;
 overflow: hidden;
 background-color: #ececec;
 position: relative;
}

.search_box {
 width: 523px;
 height: 98px;
 align-items: center;
 justify-content: center;
 position: relative;
 margin: 0 auto;
}

.search_title {
 margin: 0 7px 13px 7px;
 font-size: 15px;
 color: #60695c;
}

.search_input {
 width: 100%;
 padding: 19px 7px 15px 32px;
 position: relative;
 overflow: hidden;
 align-items: center;
 font-size: 22px;
 box-shadow: 0 0.4rem 1.6rem rgba(26, 31, 22, 0.150000006);
 border-radius: 20px;
 background-color: #ffffff;
}

.search_input::placeholder {
 font-size: 19px;
}

.sale_continer {
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 0 1px 51px 3px;
 position: relative;
 margin-top: 20px;;

}

.sale_section {
 width: 100%;
 align-items: center;
 margin-bottom: 25px;
 position: absolute;
 display: flex;
 justify-content: space-evenly;
}

.sale_item {
 width: 223px;
 position: relative;
 flex-wrap: wrap;
}

.sale_item_img {
 width: 100%;
 border-radius: 30px;
 background-color: #ffffff;
}

.sale_iten_title {
 margin-top:10px;
 font-size: 18px;
 font-weight: 600;
 color: #1A1F16;
}
.sale_item_box {
 width: 180px;
 display: flex;
 align-items: center;
 justify-content:space-between;
 margin-left: 20px;
}
.sale_item_about {
 font-size: 14px;
 margin: 13px 0  13px 0;
}

.sale_item_price {
 font-weight: bold;
 font-size: 20px;
}

.section_second_container {
width: 100%;
position: relative;
margin-top: 430px;
display: flex;
justify-content: space-between;
}